*{
  background: #000;
  margin: 0;
  padding: 0;
  border: none;
  color: #ffff;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

h3, a, p, h1, div{
  background: none;
}
h1{
  width: 50%;
  padding: 5%;
}
.web{
  font-size: 100px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(186,185,185,1) 15%, rgba(115,114,114,1) 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  position: relative;
  left: 15%;
}


.S{
  font-size: 80px;
  background: rgb(203,0,255);
  background: linear-gradient(90deg, rgba(203,0,255,1) 0%, rgba(255,74,74,1) 41%, rgba(255,190,0,1) 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  bottom: 2.1em;
  left: 70%;
  width: 60%;
}
.projects{
  width: 60%;
  background: linear-gradient(90deg, rgb(105, 105, 105, 0) 0%, rgba(186,185,185,0.1) 55%, rgba(255,255,255,0.2) 90%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 30%;
  left: 20%;
}
.F{
  display: inline;
  align-items: center;
  border: #fff solid 1px;
}
.projects p{
  font-size: 30px;
  position: relative;
  top: 25%;
  left: 2%;
  opacity: 0.7;
  padding-bottom: 5%;
}
h3{
  padding: 2%;
  width: 35%;
  font-size: 40px;
  font-weight: bold;
  position: relative;
  top: 2%;
  left: 42%;
  opacity: 0.85;
}


.bubles{
  opacity: 0.4;
}
.yellow{
  width: 20%;
  height: 300px;
  border-radius: 50%;
  background: yellow;
  border: yellow 1px solid;
  position: absolute;
  left: 75%;
  top: 50%;
  filter: blur(50px);
  display: block;
  overflow: hidden;
}
.pink{
  width: 50%;
  height: 750px;
  border-radius: 50%;
  background: rgb(255, 0, 212);
  position: absolute;
  left: -25%;
  top: 0%;
  filter: blur(50px);
}

.cssbuttons-io-button {
  background: linear-gradient(90deg, rgba(203,0,255,1) 0%, rgba(255,74,74,1) 41%, rgba(255,190,0,1) 65%);;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #0000FF;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #eeff00;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #e1ff00;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

a{
  position: absolute;
  top: 330px;
  left: 45%;
  width: 5%;
  text-decoration: none;
}


@media screen and (max-width: 1450px) {
  p{
    font-size: 10px;
  }
}
@media screen and (max-width: 1830px){
  .web, .S{
    font-size: 60px;
  }
  .web{
    left: 25%;
  }
  .S{
    left: 45%;
  }
  a{
    top: 400px;
  }
  p{
    width: 90%;
  }
  .projects{
    width: 60%;
  }
}
@media screen and (max-width: 1540px){
.web, .S{
  font-size: 40px;
  padding: 0;
  top: 1em;
}
.S{
  top: -1.5em;
  left: 37%;
}
.web{
  top: 4em;
  left: 35%;

}
a{
  top: 750px;
}
}
@media screen and (max-width: 1540px){
  .S{
    top: 0.2em;
    left: 0;
    font-size: 80px;
  }
  .web{
    left: 6%;
    font-size: 80px;
    top: 10%;
    width: 100%;
  }
  .projects{
    background: transparent;
    border: none;
    left: 5%;
    width: 90%;
  }
}
@media screen and (max-width: 620px){
  .S, .web{
    font-size: 60px;
  }
  h3{
    left: 10%;
    padding-bottom: 10px;
  }
  a{
    top: 850px;
    position: relative;
    bottom: -10%;
  }
}
@media screen and (max-width: 596px){
  a{
    top: 1000px;
  }
}
@media screen and (max-width: 470px){
  .S, .web{
    font-size: 50px;
  }
  a{
    top: 1200px;
    width: 30%;
  }
}